*{margin:0;padding:0;}
.header{height: 10%;}
.body{height: 60%}
.foot{height: 30%}
.content{padding: 5%;}
.top{font-size:2rem;vertical-align:top;text-align: inherit;}
img{ vertical-align:middle;}
.loving{height: 75%;background-color: #FFF8F0;padding: 10%}
.card{height: 25%;}
.tips{text-align: center}

.line{display: inline-block;border-top: 5px solid black;width: 9.5rem;}
.vertical-line{display: inline-block;border-right:5px solid black;height: 6rem;margin-left: 94.5%}
.vertical1-line{border-left:5px solid black;height: 6rem;margin-left: 4.5%}